# For now export everything.
#exportPattern(".*")

useDynLib(RLLVMCompile)

import(Rllvm)
import(methods)
import(CodeAnalysis)
importFrom(codetools, findGlobals)

export(compileFunction) #, compile)
export(getCompilerHandlers)

export(compile)
export(compile.call)
# Need to export the compile methods to make things work.
# Otherwise, we get an error about compile.call not found.
S3method(compile,default)
S3method(compile,"if")
S3method(compile,integer)
S3method(compile,numeric)
S3method(compile,logical)
S3method(compile,name)
S3method(compile,Value)
S3method(compile,"{")

export(insertReturn)
S3method(insertReturn, "function")

export(vectorizeFunction)

export(createProxy)


export(compileGPUKernel, DefaultGPULayout, ModuleForNVVM, setGPUKernel)
export(fixPTXCodeForNVVM )

export(getBuiltInRoutines)


export(fixIfAssign)
S3method("fixIfAssign", "for")
S3method("fixIfAssign", "=")
S3method("fixIfAssign", "<-")
S3method("fixIfAssign", "{")
S3method("fixIfAssign", "call")
S3method("fixIfAssign", "function")
S3method("fixIfAssign", "if")
S3method("fixIfAssign", "next")
S3method("fixIfAssign", "continue")
S3method("fixIfAssign", "name")
S3method("fixIfAssign", "while")
S3method("fixIfAssign", "numeric")
S3method("fixIfAssign", "logical")
S3method("fixIfAssign", "character")


export(MatrixType, DataFrameType)

export(traverseExpressions, rewriteRNGCalls)


export(STRSXP, LGLSXP, REALSXP, INTSXP, CPLXSXP, ANYSXP, CHARSXP, LANGSXP, SYMSXP, VECSXP, S4SXP, RAWSXP, EXPTRSXP, EXPRSXP, ENVSXP)


export(loadRObjectFromString)


export(BasicCompiler)



export(getSymbolInfoMetadata)

export(vectorizeScalarFunction)


export(mkCompiler)



export(setVarType)
